{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "react-hooks"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/self-closing-comp": [
          "error",
          {
            "component": true,
            "html": true
          }
        ],
        "sort-imports": [
          "error",
          {
            "ignoreDeclarationSort": true
          }
        ],
        "@typescript-eslint/quotes": [
          "error",
          "single",
          {
            "allowTemplateLiterals": true
          }
        ],
        "import/order": ["error"],
        "no-console": "error",
        "no-extra-boolean-cast": "error",
        "no-alert": "error"
      }
    }
  ]
}
